{% extends 'base.html' %}
{% block content %}
  {% load django_bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap" rel="stylesheet">
    <Style>
    body {font-family: 'Single Day', cursive; }
    </style>
  <div class="container text-center my-3">
    <embed src="https://ncache.ilbe.com/files/attach/new/20170301/14357299/5372122599/9513509288/ba66b21ad8918a5cf8e11ca4530f2674.gif">
    <p class="my-2">
    <a class="btn btn-outline-success" href="{% url 'accounts:index' %}">회원 목록</a>
  
    </p>
  </div>
{% endblock %}
